body {
  line-height: 1.5rem !important;
  &.fixed-body {
    position: fixed;
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $white !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

.modal-dialog{
  max-width: 600px !important;
}

.modal-content {
  padding: 10px;
}

.modal-header {
  border-bottom: 1px solid transparent;
}

.modal-footer {
  border-top: 1px solid transparent;
}

.modal-title {
  text-transform: uppercase;
  font-family: $raleway;
  font-weight: 700;
}

.modal-body {
  p {
    font-family: $raleway;
  }
}