.content-professional {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    @include respond-to(md){
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    @include respond-to(sm){
        grid-template-columns: 50% 50%;
    }
    @include respond-to(xs){
        grid-template-columns: 100%;
    }
}

.content-professional {
    padding: 20px;
}