.image-profile{
  width: 200px;

  @include respond-to(xs) {
    margin-bottom: 20px;
  }  
}

.content-profile {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
  border-radius: 5px;

  @include respond-to(xs){
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.content-name {
  margin-left: 20px;
  
  h3 {
    font-family: $raleway;
  }

  h2 {
    font-family: $raleway;
    font-weight: 700;
  }
}

.content-address {
  display: flex;
  flex-direction: column;
  
  span {
    font-family: $raleway;
    &:first-child {
      font-weight: 700;
      
    }
  }
}

.content-two-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  @include respond-to(xs) {
    align-items: center;
  }
}

.card-projects {
  img {
    height: 300px;
    object-fit: cover;
  }
}