.slideshow { 
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;

  .slideshow-inner { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slides { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .slide { 
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-active {
      display: block;
    }

    &.is-loaded{
      opacity: 1;
    }

    .caption { 
      padding: 0 100px;
      &.caption-home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;

        @include respond-to(md) {
          height: 50%;
        }
        @include respond-to(xs) {
          height: 60%;
        }
      }
    }

    .image-container { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      z-index: 1;
      background-size: cover;
      image-rendering: optimizeQuality;
      &::before { 
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
      }
    }

    .image {
      width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title { 
      // margin: 0 auto 15px;
      max-width: 1000px;
      font-size: 40px;
      font-family: $roboto;
      line-height: 3rem;
      letter-spacing: 0.2em;
      // text-transform: uppercase;

      &.title-banner-home {
        color: $black;
      }

      &.title-bold {
        font-weight: 700;
      }

      @include respond-to(sm) {
        font-size: 30px;
      }
      @include respond-to(xs) {
        font-size:25px;
        line-height: 2rem;
      }
    }

    .text {
      margin: 0 auto;
      max-width: 1000px;
      font-size: 18px;
      line-height: 1.4;
    }

    .btn {
      margin: 15px 0 0;
      border-radius: 5px;

      &::before {
        background: $blue-mejor;
      }
    }
  }

  .pagination { 
    position: absolute;
    bottom: 35px;
    left: 45%;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;

    @include respond-to(sm){
      left: 40%;
    }

    @include respond-to(xs){
      left: 30%;
      display: none;
    }

    .item { 
      display: inline-block;
      padding: 15px 5px;
      position: relative;
      width: 46px;
      height: 32px;
      cursor: pointer;
      text-indent: -999em;
      z-index: 1;

      + .page {
        margin-left: -2px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 5px;
        width: 36px;
        height: 4px;
        background: rgba(255, 255, 255, 0.5);
        transition: background 0.2s ease;
        border-radius: 50px;
      }

      &::after {
        width: 0;
        background: #fff;
        z-index: 2;
        transition: width 0.2s ease;
      }

      &:hover::before,
      &.is-active::before {
        background-color: #fff;
      }
    }
  }

  .arrows {
    .arrow {
      margin: -33px 0 0;
      padding: 20px;
      position: absolute;
      top: 60%;
      cursor: pointer;
      z-index: 3;
    }

    .prev {
      left: 30px;
      @include respond-to(xs) {
        display: none;
      }

      &:hover .svg {
        left: -10px;
      }
    }

    .next {
      right: 30px;

      @include respond-to(xs) {
        display: none;
      }

      &:hover .svg {
        left: 10px;
      }
    }

    .svg {
      position: relative;
      left: 0;
      width: 14px;
      height: 26px;
      fill: #fff;
      transition: left 0.2s ease;
    }
  }
}

.slide-content {
  top: 80px !important;
}



/*** SEARCH HOME ***/

.search {
  &__container {
    margin-top: 10px;
    width: 460px;
  }
  &__input {
    width: 100%;
    padding: 10px;
    // background-color: rgba(255, 255, 255, 0.77);
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 5px;
    border: none;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;

    &::placeholder {
      color: $black;
      // font-weight: 700;
      text-transform: capitalize;
      letter-spacing: 1.5px;
      font-family: $raleway;
    }
    
    &:hover,
    &:focus {
      outline: 0;
      border:none;
      border-radius: 5px;
    }
  }
}

