.form {
  margin-top: 90px;
  background: #f6f9fb;
}
.multi_step_form{
  display: block;
  overflow: hidden;
  #msform {
    text-align: center;
    position: relative;
    padding-top: 50px;
    min-height: 820px;  
    max-width: 810px;
    margin: 0 auto;
    background: #ffffff;
    z-index: 1; 
    .tittle{
      text-align: center;
      padding-bottom: 55px;
      h2{
        font: 500 24px/35px $roboto;
        color: #3f4553;
        padding-bottom: 5px;
      }
      p{
        font: 400 16px/28px $roboto;
        color: $pfont;
      }
    }
    fieldset { 
      border: 0; 
      padding: 20px 105px 0;  
      position: relative;
      width: 100%;
      left: 0;
      right: 0;

      @include respond-to(xs) {
        padding: 20px 20px 0;
      }
      &:not(:first-of-type) {
        display: none;
      }
      h3{
        font: 500 18px/35px $roboto;
        color: #3f4553; 
      }
      h6{
        font: 400 15px/28px $roboto;
        color: $pfont;
        padding-bottom: 30px;
      }
      .intl-tel-input{
        display: block;
        background: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        .flag-container{
          .selected-flag{
            padding:0 20px; 
            background: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
            width: 65px;
            .iti-arrow{
              border: 0; 
              &:after{ 
                content: "\f35f";
                position: absolute;
                top: 0;
                right: 0;
                font: normal normal normal 24px/7px Ionicons;
                color: $pfont;
              }
            }
          }
        } 
      }
      #phone{
        padding-left: 80px;
      }
      .form-group{
        padding: 0 10px;
      }
      .fg_2, .fg_3{
        padding-top: 10px;
        display: block;
        overflow: hidden;
      }
      .fg_3{
        padding-bottom: 70px;
      }
      .form-control, .product_select{
        border-radius: 3px;
        border: 1px solid #d8e1e7;
        padding: 0 20px;
        height: auto;
        font: 400 15px/48px $roboto;
        color: $pfont;
        box-shadow: none;
        outline: none;
        width: 100%;
        @include placeholder{
          color: $pfont;
        } 
        &:hover, &:focus{
          border-color: #ccc;
        }
        &:focus{  
          @include placeholder{
            color: transparent;
          }
        }
      } 
      .product_select{ 
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        border-radius: 2px;
        color: #565678;
        max-width: 80%;
        width: 80%;
        padding: 10px;
        resize: none;
        outline: transparent;

        @include respond-to(xs){
          max-width: 100%;
          width: 100%;
        }
        &:after{
          display: none;
        }
        &:before{
          content: "\f35f";
          position: absolute;
          top: 0;
          right: 20px;
          color: $pfont;
        }
        .list{
          width: 100%;
        }
      }
      .done_text{ 
        padding-top: 40px;
        .don_icon{
          height: 36px;
          width: 36px;
          line-height: 36px;
          font-size: 22px;
          margin-bottom: 10px;
          background: $blue-mejor;
          display: inline-block;
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
        }
        h6{
          line-height: 23px;
        }
      }
      .code_group{
        margin-bottom: 60px;
        .form-control{
          border: 0;
          border-bottom: 1px solid #a1a7ac;
          border-radius: 0;
          display: inline-block;
          width: 30px;
          font-size: 30px;
          color: $pfont;
          padding: 0;
          margin-right: 7px;
          text-align: center;
          line-height: 1;
        }
      } 
      
      .passport{
        margin-top: -10px;
        padding-bottom: 30px;
        position: relative;
        .don_icon{
          height: 36px;
          width: 36px;
          line-height: 36px;
          font-size: 22px; 
          position: absolute;
          top: 4px;
          right: 0; 
          background: $blue-mejor;
          display: inline-block;
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
        }
        h4{
          font: 500 15px/23px $roboto;
          color: $pfont;
          padding: 0;
        }
      }
      .input-group{
        padding-bottom: 40px;
        .custom-file{
          width: 100%;
          height: auto;
          .custom-file-label{ 
            width: 168px;   
            border-radius: 5px;
            cursor: pointer;  
            font: 700 14px/40px $roboto;
            border: 1px solid #99a2a8; 
            text-align: center;
            @include transition;
            color: $pfont;
            i{
              font-size: 20px;
              padding-right: 10px;
            }
            &:hover, &:focus{
              background: $blue-mejor;
              border-color: $blue-mejor;
              color: #fff;
            }
          }
          input{
              display: none;
          }
        }
      }
      .file_added{
        text-align: left;
        padding-left: 190px;
        padding-bottom: 60px;
        li{
          font: 400 15px/28px $roboto;
          color: $pfont;
          a{
            color: $blue-mejor;
            font-weight: 500;
            display: inline-block;
            position: relative;
            padding-left: 15px;
            i{
              font-size: 22px;
              padding-right: 8px;
              position: absolute;
              left: 0;
              transform: rotate(20deg);
            }
          }
        }
      }
    }
    
    #progressbar {
      margin-bottom: 30px;
      overflow: hidden;  
      li {
        list-style-type: none;
        color: #99a2a8; 
        font-size: 9px;
        width: calc(100%/3);
        float: left;
        position: relative; 
        font: 500 13px/1 $raleway; 
        &:nth-child(2){
          &:before{
            content: "2";
            font-family: $raleway;
          }
        }
        &:nth-child(3){
          &:before{
            content: "3";
            font-family: $raleway;
          }
        }
        &:before {
          content: "1";
          font-family: $raleway;
          width: 50px;
          height: 50px;
          line-height: 50px;
          display: block; 
          background: #eaf0f4;
          border-radius: 50%;
          margin: 0 auto 10px auto;
          font-size: 25px;
        } 
        &:after {
          content: '';
          width: 100%;
          height: 8px;
          background: #eaf0f4;
          position: absolute;
          left: -50%;
          top: 21px;
          z-index: -1; 
        } 
        &:last-child{
          &:after{
            width: 150%;
          }
        }
        &.active{
          color: $blue-mejor;
          &:before, &:after{
            background: $blue-mejor;
            color: white;
          }
        }
      }
    } 

    .previous_button {
      background: transparent;
      color: #99a2a8;
      border-color: #99a2a8;
      
      &:hover, &:focus{
        // background: $heding;
        // border-color: $heding;
        color: #fff;
      }
    } 
  } 
}
 

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      font-family: $raleway;
      &:before {
        content: '';
        background: $white;
        border-radius: 100%;
        border: 1px solid darken($white, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $blue-mejor;
          box-shadow: inset 0 0 0 4px $white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $blue-mejor;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $white;
          border-color: darken($white, 25%);
          background: darken($white, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}



.action-button {
  margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.container-radio-input {
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}


input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  margin-right: 15px;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: $blue-mejor;
  border-color: $blue-mejor;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}