@import "mixins";
@import "variables";
@import "offcanvas";
@import "setting-slick";
@import "category-slick";
@import "body";
@import "button";
@import "slider-home";
@import "contact";
@import "steps";
@import "questions";
@import "profile";

/*Navbar*/

.home {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.navbar{
  display: flex;
  flex-direction: column;
  background-color: #FFF !important;
  height: 130px;
  position: fixed;
  width: 100%;
  transition: all ease .5s;
  z-index: 3;
  top: -1px;
  display: flex;
  justify-content: space-between;
  transition: .5s ease-in-out;
  padding: 0;

  
  &.fixed {
    height: 80px;
    display: flex;
    justify-content: center;
  }

  @include respond-to(xs) {
    height: 135px;
  }
  
  &.fixed {
    background-color: $white!important;
    box-shadow: 1px -1px 30px 0 rgba(0, 0, 0, 0.11), 1px 3px 15px 0 rgba(0, 0, 0, 0.08);
    @include respond-to(sm) {
      background-color: $white;
    }
  }

  .container-fluid{
    padding: 40px;
    @include respond-to(xs) {
      padding: 0px;
    }
  }
  .navbar-brand {
    margin-left: 10px;

    @include respond-to(md) {
      margin-left: 55px;
    }
    @include respond-to(sm){
      margin-left: 0;
    }

    @include respond-to(xs){
      padding: 10px;
      margin-left: 0;
    }
    img {
      width: 115px;
    }
  }
 
}

.top-header {
  background-color: $blue-mejor;
  width: 100%;
  transition: 0.3s ease-in-out;
  padding: 10px;
  

  &.top-header-deleted {
    display: none;
    transition: 0.3s ease-in-out;
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .phone {
      padding-left: 15px;

      @include respond-to(xs) {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
      }
      a {
        color: $white;
        text-decoration: none;
  
        &:hover {
          text-decoration: none;
        }

        span {
          color: $white;
          font-family: $roboto
        }
        i {
          color: $white;
        }
      }
    }

    .text-top-header {

      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        @include respond-to(xs) {
          display: none;
        }

        p {
          font-family: $raleway;
          color:$white;
          margin: 0px;
          font-weight: 600;
        }
      }
    }
  }
}


.navbar-nav {
  
  .nav-item{
    padding: 0 5px;
    .nav-link {
      color: $black;
      font-size: 17px;
      font-family: $raleway;
      letter-spacing: 1px;
      transition: .5s ease-in-out;
      position: relative;
      transition: all 2s;
      overflow: hidden;

      @include respond-to(xs) {
        color: $black;
      }
      &.dropdown-toggle {
        &:after {
          display: none;
        }
      }

      &:hover, &:active {
        color: $black;
      }
      // &::before{
      //   left: 0;
      //   bottom: 0;
      //   width: 100%;
      //   height: 3px;
      //   background: $blue-mejor;
      //   transform: translateX(-101%);
      //   content: '';
      //   position: absolute;
      //   transition: transform .5s ease;
      // }
      // &::after{
      //   content: '';
      //   position: absolute;
      //   transition: transform .5s ease;
      // }


      &:hover {
        &::before{
          transform: translateX(0);
        }
      }
      &.active {
        &::before{
          transform: translateX(0);
        }
      }
    }
	}
}

.categories {
	padding: 100px 0 100px 0;
	background-color: #f9f9f9;
}

.content-title {
  // display: flex;
  // justify-content: center;
  &.content-title-d {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
	.title-section {
		padding: 20px;
		font-family: $roboto;
    position: relative;
    font-weight: 700;
    font-size: 30px;

    @include respond-to(xs) {
      font-size: 25px;
    }

		&:after{
      content: '';
      position: absolute;
      width: 5%;
      height: 4px;
      background-color: #3D9BE9;
      border-radius: 50px;
      bottom: 0;
      left: 1.8%;

      @include respond-to(md){
        left: 2.5%;
      }

      @include respond-to(sm){
        left: 3%;
      }

      @include respond-to(xs){
        left: 5.8%;
      }
    }
    
    &.title-product-after {
      &:after{
        content: '';
        position: absolute;
        width: 10%;
        height: 5px;
        background-color: $blue-mejor;
        bottom: 0;
        left: 5%;
      }
    }
	}
	p {
		padding: 0px 25px;
		font-family: $raleway;
	}
}

.content-categories{
  border-radius: 5px;
  .slick-dots {

  }

}
.category-column {

	.category {
		padding: 12px;
		height: 200px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
		
		p {
			margin-top: 10px;
			font-family: $raleway;
		}
	}
}

.inf {
	height: 100vh;
	padding-top: 100px;
}
.content-inf {
	display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  

  @include respond-to(sm) {
    grid-template-columns: 50% 50%;
  }
  @include respond-to(xs) {
    grid-template-columns: 100%;
  }

  &.content-inf-card {
    margin-top: 60px !important;
    padding: 20px;
  }
	&.content-inf-services {
    grid-template-columns: 25% 25% 25% 25%;
    
    @include respond-to(sm) {
      grid-template-columns: 50% 50%;
    }
    @include respond-to(xs) {
      grid-template-columns: 100%;
    }
	}
}

.card-inf {
	padding: 40px;
	display: flex;
	float: initial;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 300px;
  position: relative;
  
  @include respond-to(sm) {
    margin-top: 20px;
  }


  @include respond-to(xs) {
    margin-top: 10px;
  }


  &.card-left {
    position: relative;

    @include respond-to(sm) {
      &:after {
        display: none;
      }
    }

    @include respond-to(xs) {
      &:nth-child(1) {
        padding: 40px 0px 0px 0px;
        height: 150px;
      }
      &:after {
        display: none;
      }
    }
		&:after {
      position: absolute;
      content: '';
      right: 0;
      top: 20%;
      width: 3px;
      height: 250px;
      background-color: #F3F3F3;
		}

  }
  .content-inf{
    
    h2 {
      margin-top: 20px;
      font-size: 30px;
      font-family: $roboto;
      position: relative;
      font-weight: 700;

      @include respond-to(xs) {
        font-size: 25px;
      }
      &:after{
        content: '';
        position: absolute;
        width: 20%;
        height: 4px;
        background-color: #3D9BE9;
        bottom: -30%;
        left: 2%;
        border-radius: 50px;
      }
    }
    p {
      margin-top: 20px;
      font-family: $raleway;
    }
  }
	&.card-inf-line {
		padding: 20px;
		&:last-child {
			&::after{
				display: none;
			}
		}
		&:after {
			position: absolute;
			content: '';
			right: 0;
			top: 35%;
			width: 3px;
			height: 100px;
			background-color: $gray-mejor;
		}
	}
	&.card-inf-bg {
		background-color: $gray-mejor;
		border-radius: 5px;
    margin-right: 20px;
    transition: .3s ease-in-out;
    @include respond-to(md) {
      padding: 20px;
    }

    &:hover {
      .card-inf-description {
        h3 {
          transition: .3s ease-in-out;
          color: $blue-mejor;
        }
      }
    }
	}
}
.card-inf-image {
  height: 100px;
  margin-bottom: 20px;

  @include respond-to(md) {
    height: 80px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-inf-description{

  h3{
    font-family: $raleway;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: .3s ease-in-out;
    margin-bottom: 10px;
  }
  &.card-description-left {
    p {
      text-align: center !important;
    }
    h3 {
      font-family: $raleway;
      font-size: 18px;
      font-weight: 700;
      text-align: center !important;
    }
  }

  h2 {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
  }
	p {
		font-family: $raleway;
    text-align: center;
    line-height: 1.5rem;
	}
}

.card-inf-professional {
  padding: 10px;
  &:focus {
    outline: none;
  }
}


.slider-professional {
  margin-top: 35px;
  padding: 20px;
}
.card-content-professional {
	padding: 35px;
	box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		font-family: $raleway;
		font-size: 18px;
  }
  
  &.card-content-products {
    border-radius: 5px;
    align-items: flex-start;
  }
}



.section-services {
  background-color: $gray-mejor;
}


.section-padding {
  // padding:80px 0 0px 0px;
}
.content-services {
  display: grid;
  grid-template-columns: 50% 50%;
}
.content-first-img {
  margin: 10px;
  height: 450px;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;


  &:hover{
    img{
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
  img {
    height: 100%;
    transition: 0.3s ease-in-out;
  }

  .title-services {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-family: $raleway;
  }
}

.content-second-images {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.content-two {
  display: grid;
  grid-template-columns: 50% 50%; 
  margin: 0 10px;
  .content-img {
    height: 220px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    
    &:nth-child(2) {
      margin-left: 20px;
    }

    &:hover{
      img{
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
    .title-services {
      position: absolute;
      bottom: 10%;
      left: 5%;
      color: #fff;
      font-family: $raleway;
    }
  }
}

.content-last-img {
  display: grid;
  grid-template-columns: 100%;
  height: 210px;
  position: relative;
  overflow: hidden;
  margin: 12px;

  &:hover{
      img{
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    
      }
    }
  img {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // padding: 20px 10px 10px 10px;
  }
  .title-services {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-family: $raleway;
  }
}


footer {
  padding: 40px 20px 0px 20px;
  background-color: #222222;
  position: relative;
}

.footer-content{
	display: flex;
	flex-direction: column;
  justify-content: center;
  
  h3 {
    color: $white;
    font-family: $roboto;
  }
}
.footer-container {
	display: grid;
	grid-template-columns: 50% 50%;
}


.content-inf-footer {
  margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	p {
    color: $white;
		font-weight: 600 !important;
    margin-bottom: 3px;
    font-family: $raleway;
	}
	a {
		color: $white;
    text-decoration: none;
    font-family: $raleway;
  }
  
  span {
    color: $white;
    font-family: $raleway;
  }
}

.footer-company {
	display: flex;
  justify-content: center;
  p {
    color: $white;
    font-family: $raleway;
  }
}


.content-form {
  margin-top: 20px;
  .control-expanded {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: flex-end;
    .control-label {
      width: 80%;
      text-align: left;
      @include respond-to(xs) {
        width: 100%;
      }
      label{
        font-family: $raleway;
        font-weight: 600;
        color: $white;
      }
    }

    input, textarea {
      background-color: $white;
      border-width: 1px;
      border-style: solid;
      border-color: #ccc;
      border-radius: 2px;
      color: #565678;
      max-width: 80%;
      width: 80%;
      padding: 10px;
      resize: none;
      outline: #ccc;
      font-family: $raleway;

      @include respond-to(xs) {
        max-width: 100%;
        width: 100%;
        background-color: transparent;
      
      }
      
    }
  }
}


.cta-form{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  align-items: flex-end;
  height: 50px;

  @include respond-to(sm) {
    height: 50px;
  }

  a {
    flex-basis: 25%;

    @include respond-to(xs){
      flex-basis: 100%;
    }
  }

}

.container-partnerts {
  margin-top: 35px;
  padding: 20px;
}

.item-partnert {
  &:focus {
    outline: none;
  }
}
.content-products {
  display: grid;
  grid-template-columns: 50% 50%;

  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}
.first-column-one {
  display: grid;
  grid-template-columns: 100%;
  padding: 20px;
}
.second-column-one{
  display: grid;
  margin-right: 20px;
  grid-template-columns: 50% 50%;

}

.second-columns{
  @include respond-to(xs) {
    padding-left: 20px;
  }
}

.second-column-two{
  display: grid; 
  grid-template-columns: 100%;
}

.content-img {
  &:hover{
    img{
      transform: scale(1.2);
      transition: 0.3s ease-in-out;
    }
  }

  .container-img {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    .mask-img {
      background: hsla(0, 0%, 0%, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .content-text {
    font-size: 20px;
    font-family: $raleway;
    color: $white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 2;
  
  }

  &.content-images-first {
    width: 100%;
    height: 400px;
    
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }

  &.content-images-second {
    width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }
  &.content-images-three {
    width: 100%;
    height: 220px;
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }
}

.about {
  // background-color: $gray-mejor;
  position: relative;
  padding-bottom:0px;
}
.mask {
  position: absolute;
  left: 0;
  transform: rotate(320deg);
  // bottom: 0;
  img {
    width: 100px;
    opacity: 0.1;
  }
}
.content-about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.box-about{
  display: grid;
  grid-template-columns: 50% 50%;

  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}


.box-img {

  img {
    height: 400px;
    width: 550px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;

    @include respond-to(md) {
      width: 100%;
    }
    @include respond-to(sm) {
      height: 400px;
      width: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 5px;
    }
    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.box-content-description {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: center;

  @include respond-to(md) {
    padding: 30px;
  }
  @include respond-to(sm) {
    padding: 30px;
  }

  @include respond-to(xs) {
    margin-top: 20px;
    padding: 10px;
    align-items: center;
  }

  h1 {
    font-weight: 700;
    font-family: $raleway;
    position: relative;
    font-size: 30px;
    &:after{
      content: '';
      position: absolute;
      width: 15%;
      height: 4px;
      background-color: #3D9BE9;
      border-radius: 50px;
      bottom: -20%;
      left: 0%;
    }
  }

  p {
    font-family: $raleway;
    padding-top: 30px;
    line-height: 1.5rem;
  }
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;

  @include respond-to(xs) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  } 

  
  p{
    color: $black;
    font-family: $raleway;
    font-weight: 700;

    @include respond-to(xs) {
      font-size: 15px;
    }

    a {
      cursor: pointer;
    }
  }
}

.box-redes {
  margin-top: 15px;
  a {
    color: $black;
    font-size: 18px;
    margin-right: 5px;
    transition: .3s ease-in-out;
    &:hover{
      color: $blue-mejor;
      transition: .3s ease-in-out;
    }
  }
}

.container-fluid{
  padding: 40px;

  @include respond-to(sm) {
    padding: 0px;
  }
  @include respond-to(xs) {
    padding: 0px;
  }
}

.steps {
  font-weight: 700;
  font-size: 12rem;
  font-family: "Raleway", sans-serif;
  opacity: 0.1;
  position: absolute;
  right: -2px;
  top: 0%;

  @include respond-to(md) {
    font-size: 7rem !important;
    right: -2px;
    top: 0%; 
  }

  @include respond-to(sm) {
    font-size: 9rem !important;
    right: 20px;
    top: -15%; 
  }

  @include respond-to(xs) {
    right: 15px;
    
  }
}