%section.section-padding
  .container-fluid
    .content-title
      %h1.title-section
        ¿Por qué comprar sus materiales en Mejor Cotiza Materiales?
    .content-inf.content-inf-card
      .card-inf.card-inf-bg.cssanimation.fadeInBottom.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.3s' }
        .card-inf-image
          %img{:src => "assets/img/icons/6.svg"}/
        .card-inf-description
          %h3 En menos de 24 hrs.
          %p Todos los materiales de construcción, desde nuestros proveedores a su hogar.
      .card-inf.card-inf-bg.cssanimation.fadeInBottom.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.6s' }
        .card-inf-image
          %img{:src => "assets/img/icons/2.svg"}/
        .card-inf-description
          %h3 Ahorra tiempo y dinero!
          %p Compara el mismo producto en distintos proveedores de chile y escoge el mejor precio
      .card-inf.card-inf-bg.cssanimation.fadeInBottom.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.9s' }
        .card-inf-image
          %img{:src => "assets/img/icons/3.svg"}/
        .card-inf-description
          %h3 Atención personalizada
          %p Consulta el estado de tu compra y despacho en nuestra central telefónica o en el char web.