.footer
  .mask
    %img{:alt => "", :src => "assets/img/brocha.png"}/
  .container-fluid
    .container-footer
      %p Av. apoquindo 6410, of. 605, las condes, santiago
      %p Derechos reservados
%script{src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
%script{src: "assets/js/slider-home.js"}
%script{src:"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"}
%script{:src => "assets/js/letteranimation.js"}
%script{src: "assets/js/bootstrap.js"}
%script{src: "assets/js/offcanvas.js"}
%script{src: "assets/js/slick.min.js"}
%script{src: "assets/js/wow.min.js"}
%script{src: "assets/js/wow-settings.js"}
%script{src: "assets/js/setting-slick.js"}
%script{src: "assets/js/fonts.js"}
%script{src: "assets/js/smooth-scroll.min.js"}
%script{src: "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
%script{src: "assets/js/steps.js"}
%script{src: "assets/js/main.js"}
:javascript
  smoothScroll.init({
  selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
  selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
  speed: 2000, // Integer. How fast to complete the scroll in milliseconds
  easing: 'easeInOutCubic', // Easing pattern to use
  offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
  callback: function ( anchor, toggle ) {} // Function to run after scrolling
  });