%section.section-padding.pt-4#function
  .container-fluid
    .content-title
    .content-inf.content-inf-functions
      .card-inf.card-left
        .content-inf.d-flex.flex-column
          %h2 
            ¿Cómo funciona?
          %p
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, officiis eligendi. Saepe quaerat.
      .card-inf.card-left.cssanimation.fadeInBottom.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.3s' }
        -# %p.steps
        -#   1
        .card-inf-image
          %img{:src => "assets/img/icons/7.svg"}/
        .card-inf-description.card-description-left
          
          %h3 Cotiza Proyectos de construcción
          %p Cotiza materiales de construcción de distintos proveedores y elige el mejr precio.
      .card-inf.card-left.cssanimation.fadeInBottom.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.6s' }
        -# %p.steps
        -#   2
        .card-inf-image
          %img{:src => "assets/img/icons/9.svg"}/
        .card-inf-description.card-description-left
          
          %h3 Cotiza materiales de construcción
          %p Revisa tu carro de compras, tus diferentes proveddores escogidos y escoge tu dirección de despacho
    .containers-btn.containers-btn-functions
      %a.btn.btn-blue{:href => "#"}
        %span.btn-inner Cotizar proyectos de construcción
      %a.btn.btn-blue.ml-4{:href => "materials.html"}
        %span.btn-inner Cotizar materiales de construcción
