%section.section-padding.pt-0
  .container-fluid
    .content-title
      %h1.title-section Nuestras ofertas
      -# %p De tu zona mas cercana
    .slider-professional
      .card-inf-professional
        %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
        .card-content-professional
          %h3
            %strong Bloques
      
      .card-inf-professional
        %img.img-fluid.rounded{:alt => "image", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
        .card-content-professional
          %h3
            %strong Ceármicas
      .card-inf-professional
        %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
        .card-content-professional
          %h3
            %strong Bloques
      .card-inf-professional
        %img.img-fluid.rounded{:alt => "image", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
        .card-content-professional
          %h3
            %strong Cerámicas
      .card-inf-professional
        %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
        .card-content-professional
          %h3
            %strong Bloques