%section.section-padding
  .container-fluid
    .content-title
      %h1.title-section Nuestros proveedores
    .container-partnerts
      .content-partnerts
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-1.png"}/
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-2.png"}/
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-3.png"}/
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-4.png"}/
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-2.png"}/
        .item-partnert
          %img{:alt => "", :src => "assets/img/client_logo/client_logo-1.png"}