%section
  .container-fluid
    .content-title
      %h1.title-section Productos
    .container-products
      .content-products
        .first-columns
          .first-column-one
            .content-img.content-images-first
              .container-img
                .mask-img
                %img{:alt => "", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
                .content-text
                  %p Bloques
          .second-column-one
            .content-img.content-images-second.pr-0.pl-4
              .container-img
                .mask-img
                %img{:alt => "", :src => "https://boronatic.com/wp-content/uploads/2016/01/botes-pintura-900x400.jpg"}/
                .content-text
                  %p Pinturas
            .content-img.content-images-second.pr-0
              .container-img
                .mask-img
                %img{:alt => "", :src => "http://www.hierroelvaquiro.com/uploads/1/0/8/3/108352581/cabillas3_orig.jpg"}/
                .content-text
                  %p Cabillas
        .second-columns
          .second-column-one
            .content-img.content-images-second.pt-4.pl-0.pr-0
              .container-img
                .mask-img
                %img{:alt => "", :src => "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Stapel_bakstenen_-_Pile_of_bricks_2005_Fruggo.jpg/1200px-Stapel_bakstenen_-_Pile_of_bricks_2005_Fruggo.jpg"}/
                .content-text
                  %p Ladrillos
            .content-img.content-images-second.pt-4.pr-0
              .container-img
                .mask-img
                %img{:alt => "", :src => "https://elementosdeconstruccion.com/wp-content/uploads/2018/01/tejas-e1516577577627.jpg"}/
                .content-text
                  %p Tejas
          .second-column-two
            .content-img.content-images-three.pt-4.pb-4.pl-0.pr-4
              .container-img
                .mask-img
                %img{:alt => "", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
                .content-text
                  %p Cerámicas
          .second-column-two
            .content-img.content-images-three.pb-0.pl-0.pr-4.pt-0
              .container-img
                .mask-img
                %img{:alt => "", :src => "http://markasac.weebly.com/uploads/7/6/9/2/76927937/3427971_orig.jpg"}/
                .content-text
                  %p Tubos
