- teams = [{image: "assets/img/people/1.jpg", name: 'Andrés Prado', phone: '(+569) 8 904 32 64'}, {image: "assets/img/people/2.jpg",  name: 'Matías ', phone: '(+569) 8 904 32 64'}, {image: "assets/img/people/3.jpg",  name: 'Yonnys Quintero ', phone: '(+569) 8 904 32 64'}, {image: "assets/img/people/4.jpg", name: 'Roberto Vargas', phone: '(+569) 8 904 32 64'}]
%section.our_team_area
  .container-fluid
    .content-title
      %h1.title-section
        Quiénes somos
    .team_row.team-carousel
      - teams.each do |team|
        .content-member-team
          .team_membar
            %img.rounded{:src=>"#{team[:image]}", :alt=>""}
            .team_content
              %ul
                %li
                  %a{ hrerf: ''}
                    %i.fa.fa-facebook
                %li
                  %a{ hrerf: ''}
                    %i.fa.fa-instagram
              .name= team[:name]
              %h6= team[:phone]