%section.section-padding.about.pb-0
  .container-fluid
    .content-title
    .content-about
      .box-about
        .box-content
          .box-img
            %img{:src => " https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"}/
          
        .box-content-description
          %h1.cssanimation.leFadeIn.sequence.wow.animated{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.5s' } Andrés Prada
          %p 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          .box-redes.mb-4
            %a{ href: '#'}
              %i.fa.fa-phone 
            %a{ href: '#'}
              %i.fa.fa-facebook
            %a{ href: '#'}
              %i.fa.fa-instagram
          %a.btn.btn-blue{:href => "contact.html"}
            %span.btn-inner Contacto