%main.main-content
  %section.slideshow
    .slideshow-inner
      .slides
        .slide.is-active
          .slide-content
            .caption
              .title.title-bold ¡No pierdas más tiempo y dinero!
              .title Todos los materiales de construcción desde nuestros proveedores hasta su hogar
              .title.title-bold en menos de 24 hrs
              .search__container
                %input.search__input{:placeholder => "¿Que material estas buscando?", :type => "text"}/

          .image-container
            %img.image{:alt => "", :src => "https://images.unsplash.com/photo-1531834685032-c34bf0d84c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1374&q=80"}/
        .slide
          .slide-content
            .caption
              .title Mejor cotiza te ofrece lo mejor
              .search__container
                %input.search__input{:placeholder => "¿Que material estas buscando?", :type => "text"}/

          .image-container
            %img.image{:alt => "", :src => "assets/img/slider/slider-2.jpg"}/
        .slide
          .slide-content
            .caption
              .title Ven y aprovecha tenemos todo lo que necesitas
              .search__container
                %input.search__input{:placeholder => "¿Que material estas buscando?", :type => "text"}/
          .image-container
            %img.image{:alt => "", :src => "https://images.unsplash.com/photo-1513692398020-cbaea622c427?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"}/
        
      .pagination
        .item.is-active
          %span.icon 1
        .item
          %span.icon 2
        .item
          %span.icon 3

      .arrows
        .arrow.prev
          %span.svg.svg-arrow-left
            %svg#svg4-Layer_1{"enable-background" => "new 0 0 14 26", :height => "26px", :version => "1.1", :viewbox => "0 0 14 26", :width => "14px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %path{:d => "M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"}
            %span.alt.sr-only
        .arrow.next
          %span.svg.svg-arrow-right
            %svg#svg5-Layer_1{"enable-background" => "new 0 0 14 26", :height => "26px", :version => "1.1", :viewbox => "0 0 14 26", :width => "14px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %path{:d => "M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"}
                %span.alt.sr-only