!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Mejor Cotiza
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
    %link{rel: "stylesheet", href:"assets/css/animate.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
  %body
    %section.home
      %nav.navbar.navbar-expand-md.navbar-fixed-js
        .top-header
          .container.d-flex
            .phone
              %a.mr-3{ href: '#' }
                %i.fa.fa-phone 
                %span (+569) 8 904 32 64
              %a{ href: '#' }
                %i.fa.fa-envelope
                %span Contacto@mejorcotiza.cl
            .text-top-header
              %p ¿Como funciona?
        .container.p-4
          %a.navbar-brand{:href => "#"} 
            %img{ :src=>"assets/img/LOGO 1.jpg", :alt=>""}
          %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.d-none-lg{"data-toggle" => "offcanvas", :type => "button"}
            %span.hamburger-box
              %span.hamburger-inner
          .offcanvas-collapse.fil#navbarNav
            %ul.navbar-nav
              %li.nav-item.active
                %a.nav-link.active{:href => "#home-serviteca", "data-scroll" => ""} Categorías  Materiales
              %li.nav-item
                %a.nav-link{:href => "#team-about", "data-scroll" => ""} Cotiza Proyectos
              %li.nav-item
                %a.nav-link{:href => "#home-serviteca", "data-scroll" => ""} Preguntas Frecuentes

    %main.main-content
      %section.slideshow
        .slideshow-inner
          .slides
            .slide.is-active
              .slide-content
                .caption
                  .title No pierdas más tiempo y dinero

                  %a.btn{:href => "#"}
                    %span.btn-inner ¿Que material estas buscando?
              .image-container
                %img.image{:alt => "", :src => "assets/img/slider/slider-1.jpg"}/
            .slide
              .slide-content
                .caption
                  .title Mejor cotiza te ofrece lo mejor
                  %a.btn{:href => "#"}
                    %span.btn-inner ¿Que material estas buscando?
              .image-container
                %img.image{:alt => "", :src => "assets/img/slider/slider-2.jpg"}/
            .slide
              .slide-content
                .caption
                  .title Ven y aprovecha tenemos todo lo que necesitas
                  %a.btn{:href => "#"}
                    %span.btn-inner ¿Que material estas buscando?
              .image-container
                %img.image{:alt => "", :src => "assets/img/slider/slider-1.jpg"}/
            
          .pagination
            .item.is-active
              %span.icon 1
            .item
              %span.icon 2
            .item
              %span.icon 3

          .arrows
            .arrow.prev
              %span.svg.svg-arrow-left
                %svg#svg4-Layer_1{"enable-background" => "new 0 0 14 26", :height => "26px", :version => "1.1", :viewbox => "0 0 14 26", :width => "14px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                  %path{:d => "M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"}
                %span.alt.sr-only
            .arrow.next
              %span.svg.svg-arrow-right
                %svg#svg5-Layer_1{"enable-background" => "new 0 0 14 26", :height => "26px", :version => "1.1", :viewbox => "0 0 14 26", :width => "14px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                  %path{:d => "M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"}
                %span.alt.sr-only
    %section.section-padding
      .container-fluid
        .content-title
          %h1.title-section Nuestros proveedores
        .container-partnerts
          .content-partnerts
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-1.png"}/
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-2.png"}/
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-3.png"}/
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-4.png"}/
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-2.png"}/
            .item-partnert
              %img{:alt => "", :src => "assets/img/client_logo/client_logo-1.png"}
    %section.section-padding.pt-4
      .container-fluid
        .content-title
          %h1.title-section Productos
        .container-products
          .content-products
            .first-columns
              .first-column-one
                .content-img.content-images-first
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
                    .content-text
                      %p Bloques
              .second-column-one
                .content-img.content-images-second.pr-0.pl-4
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "https://boronatic.com/wp-content/uploads/2016/01/botes-pintura-900x400.jpg"}/
                    .content-text
                      %p Pinturas
                .content-img.content-images-second.pr-0
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "http://www.hierroelvaquiro.com/uploads/1/0/8/3/108352581/cabillas3_orig.jpg"}/
                    .content-text
                      %p Cabillas
            .second-columns
              .second-column-one
                .content-img.content-images-second.pt-4.pl-0.pr-0
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Stapel_bakstenen_-_Pile_of_bricks_2005_Fruggo.jpg/1200px-Stapel_bakstenen_-_Pile_of_bricks_2005_Fruggo.jpg"}/
                    .content-text
                      %p Ladrillos
                .content-img.content-images-second.pt-4.pr-0
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "https://elementosdeconstruccion.com/wp-content/uploads/2018/01/tejas-e1516577577627.jpg"}/
                    .content-text
                      %p Tejas
              .second-column-two
                .content-img.content-images-three.pt-4.pb-4.pl-0.pr-4
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
                    .content-text
                      %p Cerámicas
              .second-column-two
                .content-img.content-images-three.pb-0.pl-0.pr-4.pt-0
                  .container-img
                    .mask-img
                    %img{:alt => "", :src => "http://markasac.weebly.com/uploads/7/6/9/2/76927937/3427971_orig.jpg"}/
                    .content-text
                      %p Tubos
    -# %section.section-padding.section-services
    -#   .container
    -#     .content-title
    -#       %h1.title-section 
    -#     .content-inf
    -#       -# .card-inf.card-inf-bg
    -#       -#   .card-inf-image
    -#       -#     %img{:src => "assets/img/steps/1.webp"}/
    -#       -#   .card-inf-description
    -#       -#     %h2 ¿ Como funciona ?
    -#       -#     %p Cotiza materiales de construccioón de distintos proveedores y 
    -#       .card-inf.card-inf-bg
    -#         .card-inf-image
    -#           %img{:src => "assets/img/steps/1.webp"}/
    -#         .card-inf-description
    -#           %h3 Cotiza materiales
    -#           %p Cotiza materiales de construccioón de distintos proveedores y 
    -#       .card-inf.card-inf-bg
    -#         .card-inf-image
    -#           %img{:src => "assets/img/steps/2.webp"}/
    -#         .card-inf-description
    -#           %h3 Compra tus materiales
    -#           %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae voluptatibus vitae voluptatum.
    -#       .card-inf.card-inf-bg
    -#         .card-inf-image
    -#           %img{:src => "assets/img/steps/3.webp"}/
    -#         .card-inf-description
    -#           %h3 Recibelos en menos de 24 hrs
    -#           %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae voluptatibus vitae voluptatum.
    %section.section-padding.pt-4
      .container-fluid
        .content-title
        .content-inf.content-inf-services
          .card-inf.card-left
            .content-inf.d-flex.flex-column
              %h2 ¿Cómo funciona?
              %p Sólo en tres sencillos pasos
          .card-inf.card-left
            %p.steps
              1
            .card-inf-image
              %img{:src => "assets/img/1.webp"}/
            .card-inf-description.card-description-left
              
              %h3 Cotiza materiales
              %p Contamos con profesionales de confianza y recomendados por nuestros clientes
          .card-inf.card-left
            %p.steps
              2
            .card-inf-image
              %img{:src => "assets/img/2.webp"}/
            .card-inf-description.card-description-left
              
              %h3 Compra tus materiales
              %p Asesoría gratuita online constante por arquitecto, ante cualquier duda con la construcción, regularización o diseño de su proyecto
          .card-inf.card-left
            %p.steps
              3
            .card-inf-image
              %img{:src => "assets/img/3.webp"}/
            .card-inf-description.card-description-left
              
              %h3 Recibe en menos de 24 hrs
              %p Pronto, descuentos en las principales tiendas de cosnstrucción de chile
    %section.section-padding.pt-0
      .container-fluid
        .content-title
          %h1.title-section Nuestras ofertas
          -# %p De tu zona mas cercana
        .slider-professional
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
            .card-content-professional
              %h3
                %strong Bloques
          
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
            .card-content-professional
              %h3
                %strong Ceármicas
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
            .card-content-professional
              %h3
                %strong Bloques
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "https://midecoracion.com/wp-content/uploads/2018/05/suelos-de-ceramica.jpg"}/
            .card-content-professional
              %h3
                %strong Cerámicas
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "https://bigmatgil.com/wp-content/uploads/2014/11/materials2-650x433.jpg"}/
            .card-content-professional
              %h3
                %strong Bloques
    %section.section-padding.about.pb-0
      .mask
        %img{:alt => "", :src => "assets/img/brocha.png"}/
      .container-fluid
        .content-title
        .content-about
          .box-about
            .box-img
              %img{:src => " https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"}/
             
            .box-content-description
              %h1 Andrés Prada
              %p 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
              .box-redes.mb-4
                %a{ href: '#'}
                  %i.fa.fa-phone 
                %a{ href: '#'}
                  %i.fa.fa-facebook
                %a{ href: '#'}
                  %i.fa.fa-instagram
              %a.btn.btn-black{:href => "#"}
                %span.btn-inner Contacto
        .footer
          .container-footer
            %p Av. apoquindo 6410, of. 605, las condes, santiago
            %p Derechos reservados
    

    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/slider-home.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/wow.min.js"}
    %script{src: "assets/js/wow-settings.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/fonts.js"}
    %script{src: "assets/js/main.js"}
