@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: hidden;
    background-color: #fff;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .offcanvas-collapse {
    top: 75px;
    padding: 40px 10px;
    overflow-y: scroll;
  }
}

@media (max-width: 767px) {
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(0rem);
    /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #F3F3F3;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 6px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/* ===== Settings Slick ====== */
.carousel-content {
  width: 100%;
  background: #FFF;
  margin-top: 8vh;
}

.carousel-content .redes-social {
  display: flex;
  width: 110px;
  position: absolute;
  left: 7%;
  bottom: 5%;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 340px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 6%;
  }
}

@media (min-width: 341px) and (max-width: 350px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 6%;
  }
}

@media (min-width: 351px) and (max-width: 375px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 5%;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 6%;
  }
}

@media (min-width: 451px) and (max-width: 550px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 6%;
  }
}

@media (min-width: 551px) and (max-width: 650px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 6%;
  }
}

@media (min-width: 651px) and (max-width: 767px) {
  .carousel-content .redes-social {
    bottom: 15%;
    left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-content .redes-social {
    bottom: 15%;
  }
}

.carousel-content .redes-social i {
  margin-top: 15px;
  font-size: 20px;
  transition: .5s ease-in-out;
  color: #000;
}

.carousel-content .redes-social i:hover {
  color: #3D9BE9;
  transition: .5s ease-in-out;
}

.carousel-content .carousel-divisor {
  width: 100%;
  background-color: white;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-prev {
  left: 0px !important;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-prev:before {
  font-size: 25px;
  color: #fff;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-next {
  right: 20px !important;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-next:before {
  font-size: 25px;
  color: #fff;
  content: "\f054";
  font-family: 'FontAwesome';
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 53%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots {
    left: 35%;
  }
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots li {
  margin: 0 10px;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #3D9BE9;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots li button:hover:before, .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-dots li button:focus:before {
  color: #00b050;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide {
  height: 65vh !important;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .mask-item {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info {
    padding: 70px 70px 10px 30px;
  }
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info .title-banner {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  margin-bottom: 20px;
  font-weight: 700;
  position: absolute;
  top: 38%;
  left: 11%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info .title-banner {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    left: 3%;
  }
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info p {
  color: #fff;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 24%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info p {
    font-size: 20px;
    color: #fff;
    width: 80%;
    left: 3%;
  }
}

.carousel-content .carousel-divisor .carrusel-slider .single-item .slick-slide .banner-info .btn-slider {
  position: absolute;
  top: 60%;
  left: 45%;
}

.content-categories {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content-categories .slick-prev {
  right: 5% !important;
  top: -5%;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.content-categories .slick-prev:before {
  font-size: 25px;
  color: #000;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.content-categories .slick-next {
  right: 20px !important;
  top: -5%;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.content-categories .slick-next:before {
  font-size: 25px;
  color: #000;
  content: "\f054";
  font-family: 'FontAwesome';
}

.content-categories .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -10%;
  right: 55%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-categories .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-categories .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-categories .slick-dots {
    left: 35%;
  }
}

.content-categories .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  margin: 0;
}

.content-categories .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #3D9BE9;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-categories .slick-dots li button:hover:before, .content-categories .slick-dots li button:focus:before {
  color: #00b050;
}

.content-partnerts {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content-partnerts .slick-prev {
  right: 5% !important;
  top: -5%;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.content-partnerts .slick-prev:before {
  font-size: 25px;
  color: #000;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.content-partnerts .slick-next {
  right: 20px !important;
  top: -5%;
  z-index: 2;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.content-partnerts .slick-next:before {
  font-size: 25px;
  color: #000;
  content: "\f054";
  font-family: 'FontAwesome';
}

.content-partnerts .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -120%;
  right: 59%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-partnerts .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-partnerts .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-partnerts .slick-dots {
    left: 35%;
  }
}

.content-partnerts .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  margin: 0;
}

.content-partnerts .slick-dots li button:before {
  color: gray;
  content: '';
  height: 4px;
  width: 20px;
  display: inline-block;
  background: #3D9BE9;
  border-radius: 50px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-partnerts .slick-dots li button:hover:before, .content-partnerts .slick-dots li button:focus:before {
  color: #00b050;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #dcdcdc;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
  border: 1px solid #fff;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.btn-black {
  border: 1px solid #000;
  color: #000;
}

.btn-black::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  color: #fff;
}

.btn-black::after {
  transition: border 0.1s linear 0.05s;
}

.btn-black .btn-inner {
  position: relative;
  z-index: 2;
}

.btn-black:hover {
  color: #fff !important;
  transition: color 0.1s linear 0s;
}

.btn-black:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn-black:hover::after {
  transition: border 0.1s linear 0s;
}

.btn-blue {
  background-color: #3D9BE9 !important;
  border-radius: 5px;
}

.btn-blue a {
  color: #fff !important;
}

body {
  font: 14px/2 "Open sans",sans-serif;
  letter-spacing: 0.05em;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
  display: block;
}

.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 0 100px;
}

.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}

.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
  border-radius: 5px;
}

.slideshow .slide .btn::before {
  background: #fff;
}

.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 45%;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}

.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}

.slideshow .pagination .item + .page {
  margin-left: -2px;
}

.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
  border-radius: 50px;
}

.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}

.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 60%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .prev {
  left: 30px;
}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}

.slideshow .arrows .next {
  right: 30px;
}

.slideshow .arrows .next:hover .svg {
  left: 10px;
}

.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

/*Navbar*/
.home {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #FFF !important;
  height: 115px;
  position: fixed;
  width: 100%;
  transition: all ease .5s;
  z-index: 3;
  top: -1px;
  display: flex;
  justify-content: space-between;
  transition: .5s ease-in-out;
  padding: 0;
}

.navbar.fixed {
  height: 80px;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 0 50px 0px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 0 0px 0px 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar {
    background-color: #fff !important;
    padding: 0px;
  }
}

.navbar.fixed {
  background-color: #fff !important;
  box-shadow: 1px -1px 30px 0 rgba(0, 0, 0, 0.11), 1px 3px 15px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar.fixed {
    background-color: #fff;
  }
}

.navbar .navbar-brand {
  margin-left: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .navbar-brand {
    margin-left: 55px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand {
    margin-left: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .navbar-brand {
    padding: 10px;
    margin-left: 0;
  }
}

.navbar .navbar-brand img {
  width: 115px;
}

.top-header {
  background-color: #3D9BE9;
  width: 100%;
  transition: 0.3s ease-in-out;
  padding: 10px;
}

.top-header.top-header-deleted {
  display: none;
  transition: 0.3s ease-in-out;
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .container .phone {
  padding-left: 15px;
}

.top-header .container .phone a {
  color: #fff;
  text-decoration: none;
}

.top-header .container .phone a:hover {
  text-decoration: none;
}

.top-header .container .phone a span {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.top-header .container .phone a i {
  color: #fff;
}

.top-header .container .text-top-header p {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin: 0px;
  font-weight: 600;
}

.navbar-nav .nav-item {
  padding: 0 5px;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
  position: relative;
  transition: all 2s;
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-nav .nav-item .nav-link {
    color: #000;
  }
}

.navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  display: none;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:active {
  color: #000;
}

.navbar-nav .nav-item .nav-link:hover::before {
  transform: translateX(0);
}

.navbar-nav .nav-item .nav-link.active::before {
  transform: translateX(0);
}

.categories {
  padding: 100px 0 100px 0;
  background-color: #f9f9f9;
}

.content-title.content-title-d {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.content-title .title-section {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  font-weight: 700;
}

.content-title .title-section:after {
  content: '';
  position: absolute;
  width: 8%;
  height: 4px;
  background-color: #3D9BE9;
  border-radius: 50px;
  bottom: 0;
  left: 1.8%;
}

.content-title .title-section.title-product-after:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: #3D9BE9;
  bottom: 0;
  left: 5%;
}

.content-title p {
  padding: 0px 25px;
  font-family: "Raleway", sans-serif;
}

.content-categories {
  border-radius: 5px;
}

.category-column .category {
  padding: 12px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
}

.category-column .category p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}

.inf {
  height: 100vh;
  padding-top: 100px;
}

.content-inf {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.content-inf.content-inf-card {
  margin-top: 60px !important;
  padding: 20px;
}

.content-inf.content-inf-services {
  grid-template-columns: 25% 25% 25% 25%;
}

.card-inf {
  padding: 40px;
  display: flex;
  float: initial;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  position: relative;
}

.card-inf.card-left {
  position: relative;
}

.card-inf.card-left:after {
  position: absolute;
  content: '';
  right: 0;
  top: 20%;
  width: 3px;
  height: 250px;
  background-color: #F3F3F3;
}

.card-inf .content-inf h2 {
  margin-top: 20px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  position: relative;
  font-weight: 700;
}

.card-inf .content-inf h2:after {
  content: '';
  position: absolute;
  width: 20%;
  height: 4px;
  background-color: #3D9BE9;
  bottom: -10%;
  left: 2%;
  border-radius: 50px;
}

.card-inf .content-inf p {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.card-inf.card-inf-line {
  padding: 20px;
}

.card-inf.card-inf-line:last-child::after {
  display: none;
}

.card-inf.card-inf-line:after {
  position: absolute;
  content: '';
  right: 0;
  top: 35%;
  width: 3px;
  height: 100px;
  background-color: #F3F3F3;
}

.card-inf.card-inf-bg {
  background-color: #F3F3F3;
  border-radius: 5px;
  margin-right: 20px;
}

.card-inf-image {
  height: 80px;
  margin-bottom: 20px;
}

.card-inf-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-inf-description h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.card-inf-description.card-description-left p {
  text-align: center !important;
}

.card-inf-description.card-description-left h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center !important;
}

.card-inf-description h2 {
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

.card-inf-description p {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.card-inf-professional {
  padding: 10px;
}

.card-inf-professional:focus {
  outline: none;
}

.slider-professional {
  margin-top: 70px;
  padding: 20px;
}

.card-content-professional {
  padding: 35px;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content-professional h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.card-content-professional.card-content-products {
  border-radius: 5px;
  align-items: flex-start;
}

.section-services {
  background-color: #F3F3F3;
}

.content-services {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-first-img {
  margin: 10px;
  height: 450px;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.content-first-img:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.content-first-img .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.content-first-img img {
  height: 100%;
  transition: 0.3s ease-in-out;
}

.content-first-img .title-services {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.content-second-images {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.content-two {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 10px;
}

.content-two .content-img {
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-two .content-img:nth-child(2) {
  margin-left: 20px;
}

.content-two .content-img:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.content-two .content-img img {
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.content-two .content-img .title-services {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.content-last-img {
  display: grid;
  grid-template-columns: 100%;
  height: 210px;
  position: relative;
  overflow: hidden;
  margin: 12px;
}

.content-last-img:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.content-last-img img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-last-img .title-services {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

footer {
  padding: 40px 20px 0px 20px;
  background-color: #222222;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-inf-footer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.content-inf-footer p {
  color: #fff;
  font-weight: 600 !important;
  margin-bottom: 3px;
  font-family: "Raleway", sans-serif;
}

.content-inf-footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.content-inf-footer span {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.footer-company {
  display: flex;
  justify-content: center;
}

.footer-company p {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.content-form {
  margin-top: 20px;
}

.content-form .control-expanded {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: flex-end;
}

.content-form .control-expanded .control-label {
  width: 80%;
  text-align: left;
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-form .control-expanded .control-label {
    width: 100%;
  }
}

.content-form .control-expanded .control-label label {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
}

.content-form .control-expanded input, .content-form .control-expanded textarea {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 2px;
  color: #565678;
  max-width: 80%;
  width: 80%;
  padding: 10px;
  resize: none;
  outline: #ccc;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-form .control-expanded input, .content-form .control-expanded textarea {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
  }
}

.cta-form {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .cta-form {
    height: 50px;
  }
}

.cta-form a {
  flex-basis: 25%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .cta-form a {
    flex-basis: 100%;
  }
}

.container-partnerts {
  margin-top: 85px;
  padding: 20px;
}

.item-partnert:focus {
  outline: none;
}

.content-products {
  display: grid;
  grid-template-columns: 50% 50%;
}

.first-column-one {
  display: grid;
  grid-template-columns: 100%;
  padding: 20px;
}

.second-column-one {
  display: grid;
  margin-right: 20px;
  grid-template-columns: 50% 50%;
}

.second-column-two {
  display: grid;
  grid-template-columns: 100%;
}

.content-img:hover img {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.content-img .container-img {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.content-img .container-img .mask-img {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.content-img .content-text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 2;
}

.content-img.content-images-first {
  width: 100%;
  height: 400px;
}

.content-img.content-images-first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.content-img.content-images-second {
  width: 100%;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-img.content-images-second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.content-img.content-images-three {
  width: 100%;
  height: 220px;
}

.content-img.content-images-three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.about {
  position: relative;
  padding-bottom: 0px;
}

.mask {
  position: absolute;
  left: 0;
  transform: rotate(320deg);
  bottom: 0;
}

.mask img {
  width: 100px;
  opacity: 0.1;
}

.content-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.box-about {
  display: grid;
  grid-template-columns: 50% 50%;
}

.box-img img {
  height: 400px;
  width: 550px;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
}

.box-content-description {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: center;
}

.box-content-description h1 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.box-content-description h1:after {
  content: '';
  position: absolute;
  width: 15%;
  height: 4px;
  background-color: #3D9BE9;
  border-radius: 50px;
  bottom: -20%;
  left: 0%;
}

.box-content-description p {
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
}

.container-footer p {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.box-redes a {
  color: #000;
  font-size: 18px;
  margin-right: 5px;
  transition: .3s ease-in-out;
}

.box-redes a:hover {
  color: #3D9BE9;
  transition: .3s ease-in-out;
}

.container-fluid {
  padding: 50px;
}

.steps {
  font-weight: 700;
  font-size: 12rem;
  font-family: "Raleway", sans-serif;
  opacity: 0.1;
  position: absolute;
  right: -2px;
  top: -35%;
}
